* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif, "Roboto Condensed", sans-serif; /* Combine as fontes */
}

body {
  height: 100vh;
  transition: background-image 0.5s ease; /* Transição suave ao mudar a imagem de fundo */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-maior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  opacity: 0.9;
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 20px;
}

.input-cidade {
  width: 70%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #59595977;
  color: white;
  font-size: 100%;
}

.botao-buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #59595977;
  cursor: pointer;
}

.imagem-buscar {
  width: 25px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-medio {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #59595977;
}

.titulo-cidade,
.temp,
.previsao,
.umidade {
  color: white;
  text-align: center;
}

.titulo-cidade {
  font-size: 1.5rem;
  font-weight: 300;
}

.temp {
  font-size: 1.25rem;
  margin-top: 20px;
}

.card-menor {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.umidade {
  margin-top: 10px;
}

.img-previsao {
  width: 30px;
}

.titulo {
  margin-bottom: 20px;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .card-maior {
    width: 95%;
  }

  .titulo-cidade {
    font-size: 1.25rem;
  }

  .temp {
    font-size: 1rem;
  }
}
